@import url('https://fonts.googleapis.com/css?family=Bahiana|Slabo+27px');

body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  background-color: ivory;
}

h1, h2, h3 {
  font-family: 'Bahiana', cursive;
}
